.autocomplete111__container {
  position: relative;
  display: inline-block;
}

.autocomplete__items {
  position: absolute;
  border: 1px solid $light-blue;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden; 
}

.autocomplete__items div {
  padding: $s-size $xs-size;
  font-size: $font-size-tiny;
  cursor: pointer;
  background-color: $off-white;
  border: 1px solid $light-blue;
}

.autocomplete__item {
  white-space: nowrap;
}

.autocomplete__item__active {
  background-color: $grey !important;
}

