/* Position and sizing of burger button */
.bm-burger-button {
  background-color: orange;
  border-radius: 50px;
  position: absolute;
  width: 70px;
  height: 70px;
  top: calc(var(--vh, 1vh) * 80) !important;
  left: calc(var(--vw, 1vw) * 5);
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $burger-color;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $burger-color-hover;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $light-blue;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $menu-bg;
  padding-top: $s-size;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $menu-bg;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: flex !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}