.vcenter {
  margin-top: auto;
  margin-bottom: auto;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.capitalize {
  text-transform: capitalize;
}

.custom-size {
  padding: 20%;
}

.leaflet-popup-content-wrapper {
  width: 228px;
  margin: 0 ;
  padding: 0;
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0;
}

.popup__col {
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.popup__col_event {
  height: 25px;
  font-size: 1.3em;
}

.popup__col_title {
  text-align: center;
  height: 30px;
  font-size: 1.8em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup__col_main {
  padding-top: 6px;
  text-align: center;
  height: 30px;
  font-size: 1.2em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.popup__col_button {
  text-align: center;
  height: 40px;
}

.popup__col_button button {
  margin-top: 10px;
  height: 20px;
  line-height: 10px;
}

.popup__col_list {
  text-align: center;
  height: 30px;
  font-size: 1.3em;
}

.swal2-modal{
  width:400px !important;
}

.swal2-title{
  font-size: 1.5em !important;
}

.swal2-confirm{
  padding: .325em 1em !important;
}

.popup__col_list button {
  margin-left: 10px;
  height: 20px;
  line-height: 10px;
}

.no-padding {
  padding: 0 !important;
}

.btn__icon {
  z-index: 10000;
  background-color: orange;
  border-radius: 50px;
  position: fixed;
  width: 70px;
  height: 70px;
  top: calc(var(--vh, 1vh) * 80) !important;
}

.btn__icon_right {
  left: 50%;
  transform: translate(-50%);
}

.btn__icon_center {
  right: calc(var(--vw, 1vw) * 5);
}

#dropdown-filtermap {
  background-color: transparent;
  border: 0px;
}

.react-datepicker {
  border: 0px !important;
}

.react-datepicker-wrapper {
  display: inherit !important;
}

.react-datepicker-popper {
  left: 20% !important;
  z-index: 20000 !important;
}

@media (max-width: 450px) {
  .react-datepicker__time-container {
    width: calc(20% - 17px) !important;
  }
  
  .react-datepicker__time-box {
    text-align: left !important;
  }
  
  
  .react-datepicker__month-container {
    width: calc(80% - 10px) !important;
  }
}
