html, body {
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: calc(var(--vh, 1vh) * 100) !important;
}

#root {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $off-white;
}

#page-wrap {
  height: calc(var(--vh, 1vh) * 100) !important;
}

*:focus {
  outline: none;
}