// Color palette from gloe's website

// Colors
$dark-grey: #393e46;
$bg-grey: #7d7d7d;
$grey: #d4d4d4;
$light-blue: #cacccd;
$blue: #1fb7e9;
$off-white: #f7f7f7;
$dark-blue: #176084;
$diff-blue: #0070cc;

// Menu items
$burger-color: $dark-grey;
$burger-color-hover: $purple;
$menu-bg: $off-white;

// Bootstrap variable overrides
$body-bg: $off-white;
$body-color: #222;
$enable-shadows: true;
$primary: $purple;

$link-color: theme-color("danger");
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;