// all sizes used in website

// Font Size
$font-size-title: 2.0rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-tiny: 1.0rem;
// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;